<% layout('layouts/boilerplate.ejs') %> 
    <div class="row mb-3    ">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= camp._id %>?_method=PUT" method="post" novalidate class="validate-form">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" value="<%= camp.title %> " required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" value="<%= camp.location %>" required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input class="form-control" type="text" id="image" name="campground[image]" value="<%= camp.image %>" required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="form-label" for="price">Price</label>
                    <div class="input-group ">
                        <span class="input-group-text">$</span>
                        <input type="text" id="price" name="campground[price]" value="<%= camp.price %>" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="0" required>
                        <span class="input-group-text">.00</span>
                        <div class="valid-feedback">
                            Looks Good!
                        </div>
                      </div>
                </div>
               
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]" required><%= camp.description %></textarea>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info" type="submit">Update Campground</button>
                </div>
                
            </form>
            <a href="/campgrounds/<%= camp._id %>">Cancel</a>
        </div>
    </div>

  
